@model IEnumerable<SourceCode.Models.OrderDetail>
@{
    ViewBag.Title = "Báo cáo tổng hợp";
    Layout = "~/Views/Layout/AdminLayout.cshtml";

}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="~/Scripts/bootbox.js"></script>


<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Index")">Trang chủ</a> <i class="fa fa-angle-right"></i></li>
    <li class="breadcrumb-item"><a href="@Url.Action("Index")">Chọn hình thức thống kê</a> <i class="fa fa-angle-right"></i></li>
    <li class="breadcrumb-item"><a href="@Url.Action("List")">Báo cáo tổng hợp</a> <i class="fa fa-angle-right"></i></li>
</ol>


<div class="agile-grids">
    <div class="agile-tables">
        <div class="w3l-table-info">
            <h2>Báo cáo tổng hợp</h2>
            <form action="/StatisticManage/StatisticReport" method="get">
                Từ: <input type="date" name="from" value="@ViewBag.from?.ToString(" yyyy-MM-dd")" />
                Đến: <input type="date" name="to" value="@ViewBag.to?.ToString(" yyyy-MM-dd")" />
                <input type="submit" value="Xem" class="btn btn-info" />
                <button type="submit" name="viewAll" value="true" class="btn btn-secondary" style="background-color: #007bff; color: #fff;">
                    Xem Tất Cả
                </button>
            </form>
            <ul class="bt-list">
                <li><a href="@Url.Action("DownloadExcelReport","StatisticManage",null)" class="hvr-icon-up col-24" style="background-color:green" id="btnAddNew">Xuất báo cáo </a></li>
            </ul>
            <table id="table">
                <thead>
                    <tr>
                        <th>
                            Mã chi tiết đơn hàng
                        </th>
                        <th>
                            Ngày
                        </th>
                        <th>
                            Mã sản phẩm
                        </th>
                        <th>
                            Tên sản phẩm
                        </th>
                        <th>
                            Danh mục sản phẩm
                        </th>
                        <th>
                            Số lượng bán
                        </th>
                        <th>
                            Giá bán
                        </th>
                        <th>
                            Giá vốn
                        </th>
                        <th>
                            Doanh thu
                        </th>
                        <th>
                            Vốn ban đầu
                        </th>
                        <th>
                            Lợi nhuận
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        @Html.Hidden(item.ID.ToString())
                        <tr>
                            <td style="color:brown">
                                <b>@Html.DisplayFor(modelItem => item.ID)</b>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Order.DateOrder)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Product.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Product.ProCategoryID)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ImportCouponPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.totalValue)
                            </td>s
                            <td>
                                @Html.DisplayFor(modelItem => item.initialCapital
                           )
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.profit)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>